numpy>=1.23
pandas>=1.5
scipy>=1.9
matplotlib>=3.6
seaborn>=0.12

mne>=1.5
yasa>=0.6
pyEDFlib>=0.1.36

scikit-learn>=1.2
xgboost>=1.7
lightgbm>=4.0
imbalanced-learn>=0.11
optuna>=3.4

shap>=0.44
antropy>=0.1.6
nolds>=0.5.2
hurst>=0.0.5
pywavelets>=1.4

tqdm>=4.65
joblib>=1.3
